<h1>About WORDCOUNT</h1>


<p>This site was created to give you a sense of how many words you're using in a
  specific line of text. This may be advantageous to you if you are editing a
  draft of a paper and need to know what words are used too frequently, and
  other word options to use.

  This is an open-source project designed using Django 2.02 and Python 3.6.
  Contributions can, and should, be made to <a href="https://github.com/katebailey1230/WordCount">GitHub.</a>
    
  </p>


  <a href="{% url 'home' %}">Try it!</a>
