{% block content %}

<h1>There are {{ count }} words in your text</h1>
<h2><button class="btn btn-primary btn-lg" align="right"><a href="{% url 'home' %}">Start Again</a></h2>



<h3>Your Text:</h3>
{{ fulltext }}

<h1 align="center">Word Count:</h1>
  {% for word, counttotal in sortedwords %}
<table width="400" callpadding="0" cellspacing="5">
    <tr>
      <th width="150" align="left">Word</th>
      <br />
      <th width ="150">Times Used</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td width="150" align="left">{{ word }}</td>
      <br />
      <td align="center">{{ counttotal }}</td>
    </tr>
  <tbody>

  {% endfor %}

  {% endblock %}
